@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Contact Managemnt POC</h1>
    <p>This application is built using .Net Core 2.2, It is using Repository Pattern it can use .net Entity framework and ADO.net also, The Web project can be further exposed as serives.</p>
    <p> Custom Logging and exception handling can be further added for Administrative purpose. </p>
    <p>The Images are currently Hard coded but they must be moved to Network file system saved via encryption.</p>
    <p>User Registration and Contacts of the user must be seprated by applying composite key involving unique loginid and contactId </p>
</div>
